<div class="title">
                    <h1> Index Page </h1>
                </div>
                <!-- <div class="navi"> -->
                    <nav>
                        <ul>
                            <li><a href="/">Index Page</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/postimage">postimage</a></li>
                            <li><a href="/register">registration</a></li>
                            <li><a href="/post">viewpost</a></li>
                        </ul>
                    </nav>