<nav>
    <div class="logo">
        <a href="/">
        <img src="public/images/show.webp" alt="NavBar Logo">
        </a>
    </div>
  <div class="search">
    <form action="/search" method="GET"> <!-- Specify the action and method -->
      <input type="text" placeholder="Search..." name="q">
      <button type="submit">Go</button>
    </form>
  </div>
  <ul class="menu">
    <li><a href="/postimage">postimage</a></li>
    <li><a href="/login">Login</a></li>
  </ul>
</nav>