<main id="main-content"></main>
<head>
    <title>Portfolio Website - Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<div class="info">
    <h1> I'm <span> Wing</span> Lee</h1>
    <p>This is my personal portfolio website to showcase my works related to <br> web development and other Computer Science works</p>
    <a href="https://github.com/ayanamesu/Tank-Game">Tank Game</a>
</div>

<div class="img-box">
    <img src="public/images/bg2.png" class="back-img">
    <img src="public/images/pose.png" class="main-img">
</div>

<div class="social-links">
    <a href="https://github.com/ayanamesu"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/jacky-lee-15a7a6178/"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.youtube.com/channel/UCOppAB7ZEaFx1ErWgj6_iZQ"><i class="fab fa-youtube"></i></a>
</div>

