<body>
        <div class="Login-box">
                <img src="public/images/menhera.png" class="logo-icons">
                <h2>Sign in</h2>
                <a href="https://accounts.google.com/v3/signin/identifier?hl=en_GB&ifkv=ATuJsjzpPt-p57vZWS8RBEa7yGhnne0MXSnFmESdsqJfePF6s0xc5c3aepwtw7tOP_3gXKShhSJ-&flowName=GlifWebSignIn&flowEntry=ServiceLogin&dsh=S-133765398%3A1709293546067016&theme=glif">
                <button><img src="public/images/google.png">Sign in with Google</button>
                </a>
                <a href="https://github.com/login">
                <button><img src="public/images/github.png">Sign in to GitHub</button>
                </a>
                <hr>
                <span>Or</span>
                <form action="/post" method="GET">
                        <input type="text" placeholder="Phone, email or username">
                        <button type="submit">Next  ;)</button>
                </form>
                <button>Forgot password?</button>
                <p>Don't have an account? <a id="signup-link" href="/register">Sign up</a></p>
            
           
        </div>
</body>