   <div class="postimage">
        <h1> Post an image</h1>

        <form>
            <label for="text">Title: </label> 
            <input type="text" name="Title" id="Title"> <br />
            <label for="description"> Description: </label>
            <input type="text" name="Description" id="Description"> <br />
            <label for="image">Image(s): </label>
            <input type="file" name="image" id="image" accept="image/*"> <br />
            <label for="text"> Acceptabele Use Policy for uploading images.</label>
            <input type="checkbox" name="Tos" id="Tos" value="Tos"> <br />
            <input type="submit" value="Submit image">

        </form>
    </div>