       <!-- </div> -->

        <div class="registration">
        <h1> Registration Page</h1>
        </div>
     
        <div class="registration2">
        <form id=" Login" >
            <div class="input-group">
                <label for="usernameField "> Username:</label>
                <input type="text" name="username " id="username" placeholder="Username Required"> <br />
                <span id="u_errormsg"></span><br><br />
                <span id="alp_errormsg"></span><br><br />
            </div>

            <div class="input-group">
                <label for="emailField"> Email:</label>
                <input type="email" name="email " id="email" placeholder="Email Required"> <br />
                <span id="e_validation"></span><br><br />
            </div>
            
            <div class="input-group">
                <label for="password"> Password:</label>
                <input type="password" name="password" id="password" placeholder="Password">
                <span id="errormsg" style="color:red"></span><br><br />
                <span id="1up_errormsg"></span><br><br />
                <span id="1num_errormsg"></span><br><br />
                <span id="1spe_errormsg"></span><br><br />
            </div>
            
            <div class="input-group">
                <label for="confirmPassword"> Confrim Password:</label>
                <input type="password" name=" Confirm Password" id="confirmPassword" placeholder="Confirm Password" onkeyup="pass_check()"> <br />
                <span id="re_errormsg"></span><br><br />
            </div>
                <label for="age?"> <strong> Required*:  Are you 13+ years of age!!!</strong></label>
           
                <input type="radio" name="check" id="Yes" value="Yes" required/>Yes
            
            
                <input type="radio" name="check" id="No" value="No" />No
                <br />
            
                
 
            <a href="">
                <input type="checkbox" name="checkbox" required>
                <label for="TOS"> Terms Of Service and Privacy Rules!</label>
                <br />
            </a>
           <!--Checks if password and confirmPassword matches -->
            <button type="submit" value="Submit">Submit</button> <br />
            <button type="reset"  value="Reset"> Reset</button>
        </form>
        </div>