        
        <button class="jump"
        id="jump-to-top-button"><a href="#top">Back to the Top</a></button>
        <!-- </div> -->
        <div class="viewpost">
        <header class="viewtitle">
            <h1> View Post Image </h1>
        </header>

            <section>
                <h3> "Generic 70s Art" - BrandyBuizel</h3>
            </section>
            <section>                
                <img id = "pyramid" src="https://art.ngfiles.com/images/509000/509222_brandybuizel_generic-80s-album-art.png?f1494084697&fbclid=IwAR0eO5jM2x08rRFAt6n3D2gzYZj14C-pYlX3-h7TZstqS9cbvQgDwXP9-ys" 
                alt="Just a couple of space pyramids being worshiped as they land on the planet's surface. 
                I just wanted to practice a few odd painting techniques while making some 80s style painting." height="960" width="854">
            </section>
            <section>
                <h4> Uploaded: 9/21/2022</h4>
            </section>
            <div class="comment-box">
                <textarea id="comment-text" class="comment-box-text"></textarea>
                <i id="comment-button" class="fa fa-comment comment-box-button" aria-hidden="true"></i>
            </div>
            <div class="comments">
                <strong
                class="comment-author"> Randomuser1274</strong>
                <span class="comment-date">2022,Dec 12 </span>
                <div class="comment-text"> this is sample comment</div>
            </div>
            <div class="comments">
                <strong
                class="comment-author"> Blinkington27</strong>
                <span class="comment-date">2022,Dec 35 </span>
                <div class="comment-text"> this is sample comment</div>
            </div>
        </div>
       
